<%= form_tag genera_reporte_avances_programaticos_path do %>
  <table class="form">
    <thead>
      <tr>
        <td colspan="2">
          Seleccione los datos necesarios
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">
          # 
        </td>
        <td class="input">
          <%= text_field_tag :id %>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <div class="actions">
            <%= submit_tag 'Generar reporte' %>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>
