<% gender ||= target.class.name.ends_with?("a") ? "female" : "male" %>
<% if target.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= t('activerecord.errors.template.header', :count => target.errors.count, :model => target.class.name.underscore.humanize.downcase, :article => gender == "male" ? "El" : "La") %>
    </h2>
    <%= t('activerecord.errors.template.body') %>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li>
        <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
